@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("./nav.css");
@import url("./main.css");
@import url("./svg.css");
@import url("./weather.css");

:root {
    --primaryColor: hsl(200, 5%, 10%);
    --secondaryColor: hsl(200, 5%, 15%);
    --lighterSecondaryColor: hsl(200, 5%, 18%);
    --darkerTertiaryColor: hsl(200, 10%, 40%);
    --tertiaryColor: hsl(200, 10%, 75%);

    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primaryColor);
    color: var(--tertiaryColor);

    font-family: "Inter", sans-serif;
}

svg {
    fill: var(--tertiaryColor);
    width: 3vh;
    aspect-ratio: 1;
    padding: 0.5rem;
    cursor: pointer;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

#loading-overlay.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
