.main {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 1rem;
}

.main-content {
    width: 75vw;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.current-weather-information-div {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.current-day-weather-details {
    width: 50%;
    height: 100%;
    padding: 1vw;
    background-color: var(--secondaryColor);
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-weather {
    height: 20vh;
}
